/cmake-build-debug-mingw/
/cmake-build-debug
/cmake-build-release
Test/TestFolder/MasterFolder/*
Test/TestFolder/DestinationFolder/*
Test/TestFolder/DestinationFolder2/*
/idea
/.idea/*
*.xml
*.txt
/cmake-build-release-mingw/
.vscode/
build/
